$phones: 480px;
$tablets: 768px;

.banner {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 360px;

  .image {
    width: calc(40% - 1em);
  }

  .categories-container {
    flex: 3 1;
    max-width: calc(50%);
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: $phones) {
  .image {
    width: calc(50% - 1em);
    flex: 1 1;
  }
}
