.homepage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 0;
  position: relative;

  .categories {
    display: flex;
    flex-flow: column;
  }

  .carousel .thumbs-wrapper {
    display: none;
  }
}
