$phones: 480px;
$tablets: 768px;
$navigation-border-color: gray;
$background-color: white;
$cart-icon-hover: rgb(73, 73, 73);
$cart-icon-bg-color: lightgray;
$sidebar-bg: rgb(224, 223, 223);
$primary-color: #d00256;
$primary-color-hover: #ac0045;
